################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TestProject1/v16/TestStore/0
/.vs/TestProject1/v16
